
import streamlit as st
import pandas as pd
import numpy as np

from streamlit_folium import folium_static
import folium

from pages.pro2 import mas


from streamlit_folium import folium_static
import folium
import re
import os
from geopy.geocoders import Nominatim
from pprint import pprint
from pandas.core.frame import DataFrame
